.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: white;
    margin: 0px;
    margin-bottom: 40px;
}

.hero__button {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    cursor: pointer;
    display: block;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover {
    background :#188CE8;
}

.hero {
    max-width: 1600px;
    background: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("../images/overlay.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}