body {
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    height:auto; 
    width:100%;
}

$primary-bg: #ffffff;
$secondary-bg: #f5f4fa;
$dark-bg: #2f303a;
$dark-color: #000000;
$primary-text-color: #757575;
$secondary-text-color: #ffffff;
$title-color: #212121;
$accent-color: #2196f3;
$filter-btn-color: #f5f4fa;
$icon-color: #afb1b8;